body{
    background-color: #121212;
}
.header{
    text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.main-body{
padding-right: 100px;
    padding-left: 100px;
}
.img{
    width: 100%;
    height: 240px;
    border-radius:10px ;
}
.grid-item {
  margin: 8px;

  
}
.tools{
    text-align: end;
    padding-top: 80px;
}
a{
    text-decoration: none;
    color: white;
}
