.__react_modal_image__header{

  background-color:transparent !important;
  top: 640px !important;
}
.__react_modal_image__medium_img{

  border-radius: 16px !important;
}
.__react_modal_image__icon_menu{
  padding:6px 0 10px 0;
  font-size: large;
  display: flex !important;
  float: none !important;
  justify-content: center !important;
}
.__react_modal_image__modal_content{

      backdrop-filter: blur(10px);
}

.__react_modal_image__icon_menu a svg{
  fill: black;
  /* color: black !important; */
  padding: 8px !important;
box-shadow: 0px 0px 9px rgb(178, 177, 177) !important;
  border-radius: 100%;
height: 50px;
width: 50px;
background-color: rgb(255, 255, 255) !important;
}

.loginPage{
  display: flex;
  justify-content: center;
  padding: 10px;
  background-image: url('../src/assets/Background.d63a681d.jpg');
  height: 100vh;

  background-repeat: no-repeat;
}

.FormContianer{
 background-color: rgba(255, 255, 255, 0.20);
  margin-top: auto;
  margin-bottom: auto;
  backdrop-filter: blur(10px);
  border-radius: 24px;
  height: 90vh;
  width: 170vh;

}
.LazyLoad {
  opacity: 0.2;
  transition: all 1s ease-in-out;
}
.is-visible {
  opacity: 1;
}
