.wallpaper{
    height: 240px;
    border-radius:10px ;
    margin-bottom: 24px;
}
.tools{

  padding-top:80px ;
  text-align: end;
}
.MobileWallpaper{
    height: 500px;
    border-radius:10px ;
    margin-bottom: 24px;

}
.main{
  padding: 3%;
  height: 750px;
}

.imageView{
  padding:0;
  width: 100%;
  border: 1px solid;
  box-shadow: 5px 10px; 
  border-radius: 70px;
  background-color: aqua;
  height: 660px;
}