.wallpaper{
    height: 240px;
    border-radius:10px ;
    margin-bottom: 24px;
}
.tools{

  padding-top:80px ;
  text-align: end;
}
.MobileWallpaper{
    height: 500px;
    border-radius:10px ;
    margin-bottom: 24px;

}